<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

   
<div class="container-fluid">
<div class="row"> 
    We have expertise in software, firmware and hardware designs.
    We have engineers both in East and West coast to take care of your design needs. 
  
    
 </div> 
     <div class="row"> 
     
       Please contact us at info@svstechnology.com
     </div>
     </div>
<% include ../partials/bottom.ejs %>
</body>
</html>
