<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>
<h1>Contact</h1>
 <div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:yellow;"><p>Lorem ipsum...</p>
    </div>
   <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:red;"><p>Lorem ipsum...</p>
    </div>
     <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:green;"><p>Lorem ipsum...</p>
    </div>
 </div> 


</body>
</html>
