<!DOCTYPE html>
<html>
<head>
    
  <% include ../partials/header.ejs %>
 
<!--   <link type="text/css" rel="stylesheet" href="css/index.css" />  -->
</head>

<body>

  <% include ../partials/nav.ejs %>
  <div class="container-fluid">
<div class="row"> 
    <div class="col-xs-4"> 
                  
                                     
            <img src="images/ti_image_2.png"  />
      <br/> 
        We have done several solutions using TI ARM.Tiva, Sitara and DSP processors. Our solutions have been succesfully implemented in small microcontrollers like MSP430 to DSP processors. 
      <img src="images/atmel.png"  />
      <br/> 
        We have done several solutions for the Arduino platform which uses the Atmel processors
       <img src="images/microchip_175.png"  />
      <br/> 
        We have done several solutions using PIC 8 bit, 16 bit,32 bit microcontrollers. 
          <img src="images/ad_nxp_st_fs.jpg"  />
      <br/>  We also have implemented many solutions with Analog Devices DSP,  Freescale procesors,  ST Micro devices. NXP processors. 
      </div>
  <div class="col-xs-4"> 
      
                 <img src="images/emulator_4.jpg"  />
      <br/> <br/>
      We have developed many microprocessor  products based on various compilers,emulators and 
simulators 
      <ul>
          <li>Keil Arm Tools</li>
          <li>TI Code Composer studio</li>
          <li>Analog Devices Visual DSP</li>
          <li>PIC MPLab</li>
          <li>IAR Embeded Workbench</li>
      </ul>
      
                
</div>
    
    <div class="col-xs-4"> 
         <img src="images/xilinx_small.jpg"  />
      <br/> <br/>
      We have a strong Electrical Engineering Team which has designed, developed and built several hardware solutions.
      <ul>
          <li>DSP boards</li>
          <li>Microcontroller boards</li>
          <li>Xilinx FPGA</li>
          <li>PCB layout</li>
          <li>Data Acquisiton boards</li>
          <li>Motor Controller boards</li>
      </ul>
  
        </div>
    
    </div>
    </div>
                       
                 
             
     
 <% include ../partials/bottom.ejs %>
  
 
 

</body>
</html>
 