<!DOCTYPE html>
<html>
<head>
    
  <% include ../partials/header.ejs %>
 
<!--   <link type="text/css" rel="stylesheet" href="css/index.css" />  -->
</head>

<body>

  <% include ../partials/nav.ejs %>
   <div id="main"  >
   This is the main page.

    
  </div>
     
   <div id="left"></div>
<div id="right"></div>
<div id="top"></div>
<div id="bottom"></div> 
 
 

</body>
</html>
 