<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<!--   <link type="text/css" rel="stylesheet" href="css/index.css" />  -->
</head>

<body>

  <% include ../partials/nav.ejs %>
   
 This is the main page.

 

</body>
</html>
 