<!DOCTYPE html>
<html>
<head>
    
  <% include ../partials/header.ejs %>
 
<!--   <link type="text/css" rel="stylesheet" href="css/index.css" />  -->
</head>

<body>

  <% include ../partials/nav.ejs %>
 <div class="container-fluid">
<div class="row">
<div class="col-xs-4">
                  
                                    <img src="images/application-development.jpg"  />
    <h4>Software Development</h4>
    Our development team is passionate about staying ahead of the technology curve and utilizing the latest tools. We are platform agnostic, meaning that we can work with virtually any technology stack, from Java to .NET and everything in between.

 </div>                 
  <div class="col-xs-4">                        
             <img src="images/mobile-development.jpg"  />    
       <h4>Mobile Development</h4>
      We have established a strong expertise in the mobile domain by acquiring an extensive know-how and experience of building  mobile applications on the major mobile operating systems of iOS, Android and Windows Phone.
  </div>
    <div class="col-xs-4"> 
        <img src="images/Arduino316_small.jpg"  />   
       <h4> Embedded System Development</h4>
                           Over 30 years of combined experience in design and development of real-time embedded control systems for a wide
                          range of applications. A solid background in software
                          and electrical engineering combined with reliable project
                          management skills gives us the capability to see your
                          project
through from start to finish.  
   </div>
     </div>                       
  </div>               
             
     
 <% include ../partials/bottom.ejs %>
  
 
 

</body>
</html>
 