<!DOCTYPE html>
<html>
<head>
    
  <% include ../partials/header.ejs %>
 
<!--   <link type="text/css" rel="stylesheet" href="css/index.css" />  -->
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  
 
<div class="container-fluid">
<div class="row"> 
  <div class="col-xs-4">  
      <img src="images/ios.png"  />
      <br/><br/>
 We design, develop and deploy custom iOS (iPhone, iPod Touch and iPad) applications in various areas and across multiple vertical markets. These include: 
Social Networking
Games
Shopping Carts
Travel Booking
Utility software

Our developers have architected, designed, and coded mobile applications utilizing both native API's and application frameworks. Our mobile development includes both front-end applications and back-end services for the applications. The developers and designers facilitated in performance optimization, deployment through the Apple store, wire framing, user-interaction design, and application UI design.   
</div>
    <div class="col-xs-4"> 
          <img src="images/android.png"  />
      <br/><br/>
While iOS is one of the key platforms  , we have also provided the same services from the Android platform. Our rich background in Java technologies has made it a natural transition to the Android development platform. Our expertise allows us develop custom applications of a very wide varieties using Google Android SDK 

Multimedia applications
Mobile financial applications
Social networking apps
SMS/MMS and bulk messaging
GPS Navigation and Travel Guides
Location-aware applications
Field work automation solutions
Cross-Platform Development
Utilities
 
 </div>
    <div class="col-xs-4">   
         <img src="images/mobile_apps_1.jpg"  />
      <br/><br/>
 We can design mobile Web sites that give your clients instant access to: multimedia downloads they need, the latest news, uploading valuable info back to you and so much more. Regardless of screen size and technical capabilities, we make sure your site can be easily viewed on the myriad of different phone versions that exist.  Mobile websites are a core offering of  SVS Technology.
   </div>
    </div>
    </div>
     
     
 <% include ../partials/bottom.ejs %>
  
 
 

</body>
</html>
 