<!DOCTYPE html>
<html>
<head>
    
  <% include ../partials/header.ejs %>
 
<!--   <link type="text/css" rel="stylesheet" href="css/index.css" />  -->
</head>

<body>

  <% include ../partials/nav.ejs %>
  
  
<div  >
			
				<h1>Our Capabilities</h1>
  <p>Our comprehensive business software solutions can also scale as large as you require. No matter the platform or programming language, we can accommodate your needs. If there is something specific you are looking for here but don&#8217;t see it, please give us a call. We&#8217;re confident we can build a software solution that&#8217;s right for you.</p>
<div class="container-fluid">
<div class="row"> 
  <div class="col-xs-4">   
  <img src="images/frontend_techs_small.png"  />
      <br/> <br/>
      <p><strong>Open Source</strong></p>
      <ul>
<li>HTML 5</li>
<li>CSS</li>
<li>jQuery</li>
<li>JavaScript</li>
<li>JSON</li>
<li>Angular JS</li>
<li>Knockout JS</li>
<li>Backbone JS</li>
<li>XML / XSD</li>
<li>SaSS</li>
<li>PHP</li>
<li>Python</li>
<li>Ruby</li>
<li>Node.js</li>
</ul>
 </div>
    <div class="col-xs-4">   
 
<img src="images/mvc_dot_net_small.jpg"  />
           <br/> <br/>
<p><strong>Microsoft</strong></p>
<ul>
<li>ASP.NET MVC</li>
<li>C#, VB</li>
<li>Silverlight</li>
<li>WPF / WCF / XAML</li>
<li>Desktop, Win 8, Metro, C++</li>
</ul>
<img src="images/java_struts_small.jpg"  />
           <br/> <br/>
<p><strong>Java</strong></p>
<ul>
<li>JSP</li>
<li>Tomcat</li>
<li>Apache</li>
<li>Struts</li>
<li>Ext JS</li>
</ul>

 
 </div>
    <div class="col-xs-4">   
        <img src="images/Database_System_Small.jpg"  />
           <br/> <br/>
<p><strong>Databases</strong></p>
<ul>
<li>SQL Server</li>
<li>Oracle</li>
<li>SAP</li>
<li>MySQL</li>
<li>MongoDB</li>
</ul>
  <img src="images/silver_crystal.jpg"  />
           <br/> <br/>
<p><strong>Reporting / Charting</strong></p>
<ul>
<li>SQL Server Reporting Services (SSRS)</li>
<li>Crystal Reports</li>
<li>Business Intelligence / Analytics</li>
<li>ExtJS</li>
<li>Google Charts</li>
<li>Telerik</li>
<li>ComponentOne</li>
<li>Infragistics</li>
<li>Business Objects</li>
</ul>
   </div>
    </div>
    </div>
     
 <% include ../partials/bottom.ejs %>
  
 
 

</body>
</html>
 